.info {
    padding: 50px 0;
}

.info__inner-slider {
    display: flex;
    gap: 100px;
}

.info__list {
    max-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.info-slider-link-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
    gap: 10px;
    margin-bottom: 30px;
}

.info-slider-link {
    max-width: 400px;
    padding: 15px;
    padding-left: 100px;
    border-radius: 20px;
    background-color: #fff;
    color: #1a1a1a;
    position: relative;
}

.info-slider-link.tg {
    --bg-img: url(./../../../images/telegram.webp) center / cover no-repeat;
}

.info-slider-link.tt {
    --bg-img: url(./../../../images/tiktok.webp) center / cover no-repeat;
}

.info-slider-link.yt {
    --bg-img: url(./../../../images/youtube.webp) center / cover no-repeat;
}

.info-slider-link::before {
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    left: 10px;
    top: 50%;
    translate: 0 -50%;
    background: var(--bg-img)
}

.info-slider-link {
    max-width: 400px;
    padding: 15px;
    padding-left: 100px;
    border-radius: 20px;
    background-color: #fff;
    color: #1a1a1a;
    transition: .3s;
}

.info-slider-link:hover {
    scale: .95;
}

.info-slider-link span {
    display: block;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #1f1f1f;
    color: #fff;
}

.info__list-item {
    font-size: 22px;
    padding: 15px 0;
    padding-left: 10px;
    margin: 7px 0;
    position: relative;
    cursor: pointer;
    font-weight: 300;
    transition: .5s;
}

.info__list-item::after {
    content: '';
    position: absolute;
    right: -10px;
    top: 50%;
    translate: 0 -50%;
    height: 100%;
    width: 2px;
    background-color: #fff;
    opacity: .2;
    transition: .3s;
}

.info__list-item.active {
    background-color: rgba(255, 255, 255, .05);
    backdrop-filter: blur(20px);
}

.info__list-item.active::after {
    opacity: 1;
}

.info__list-item:first-child {
    margin-top: 0;
}

.info__list-item:last-child {
    margin-bottom: 0;
}

.info__inner-slider-window {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

.info__inner-slider-window h3 {
    font-size: 45px;
    margin-bottom: 30px;
    transition: 2s;
}

.info__inner-slider-window p {
    font-size: 20px;
    transition: 2s;
}

.info__inner-slider-window .btn {
    margin-top: auto;
}

@media(width <=1300px) {
    .info__inner-slider {
        flex-wrap: wrap;
    }

    .info__list {
        flex-direction: row;
        gap: 10px;
        max-width: 100%;
    }

    .info__list-item {
        max-width: 300px;
        width: 100%;
        margin: 0;
    }

    .info__list-item::after {
        right: 0;
    }

    .info__inner-slider-window p:last-of-type {
        margin-bottom: 30px;
    }
}

@media(width <=1125px) {
    .info__list {
        flex-wrap: wrap;
    }

    .info__list-item {
        max-width: 49%;
    }
}


@media(width <=600px) {
    .info {
        padding: 0;
    }

    .info__list {
        flex-direction: column;
    }

    .info__list-item {
        max-width: 100%;
    }

    .info__inner-slider {
        gap: 40px;
    }
}

@media(width <= 568px){
    .info-slider-link{
        width: 100%;
    }
}

@media(width <=450px) {
    .info__inner-slider-window h3 {
        font-size: 35px;
    }
}